<div class="d-flex flex-column" style="padding: 10px 70px; width: 100%; background-color: #FFE600; gap: 20px;">
  <div class="d-flex justify-content-between">
      <div> <img src="assets/icons/Logo.png" width="100px" alt=""></div>
      <form class="d-flex" (ngSubmit)="onSearch()" style="width: 70%; height: 50px;">
        <input
          class="form-control me-2 buscador-proyectos"
          type="search"
          placeholder="Buscar proyectos y más..."
          aria-label="Buscar"

          name="search"
        />
        <button class="btn lupa-buscar" type="submit">
          <img width="20px" src="assets/icons/lupa.svg" alt="">
        </button>
      </form>
      <div>la chupa</div>
  </div>
  <div class="d-flex justify-content-between" style="gap: 20px;">
    <div class="d-flex justify-content-between">
      <img width="30px" src="assets/icons/location-svgrepo-com.svg" alt="Ubicacion">
      <p class="m-0">Villa Luzuriaga</p>
    </div>
    <ul class="d-flex list-unstyled gap-3 mb-0 align-items-center">
      <li>Sobre mi</li>
      <li>Proyectos</li>
      <li>Contacto</li>
    </ul>

    <ul class="d-flex list-unstyled gap-3 mb-0 align-items-center">
      <li>Crea tu cuenta</li>
      <li>Ingresa</li>
      <li>Mis compras</li>
      <img width="20px" src="assets/icons/cart.svg" alt="Carrito">
    </ul>
  </div>

</div>




