<div class="d-flex flex-column" style="padding: 10px 70px; width: 100%; background-color: #FFE600; gap: 20px;">
  <div class="d-flex justify-content-between">
      <div> <img src="Logo.png" width="80px" alt=""></div>
      <div>tu mama</div>
      <div>la chupa</div>
  </div>
  <div class="d-flex justify-content-between" style="gap: 20px;">
    <div>
      <p class="m-0">UBICACION</p>
    </div>
    <div class="d-flex">
      <li>Categorias</li>
      <li>Ofertas</li>
      <li>Cupones</li>
      <li>Supermercado</li>
      <li>Moda</li>
      <li>Vender</li>
      <li>Ayuda</li>
    </div>
    <div class="d-flex">
      <li>Crea tu cuenta</li>
      <li>Ingresa</li>
      <li>Mis compras</li>
      <img src="" alt="Carrito">
    </div>
  </div>

</div>




