<div class="contenedor-interno">
  <div>Tambien puede interesarte</div>
  <div class="contenedor-info">

    <div class="parte-izq">
      <div style="padding: 16px;">
        <div class="d-flex flex-row justify-content-between">
          <div class="d-flex flex-column">
            <div class="foto-container d-flex flex-column" style="gap: 4px;">
              @for(proyecto of proyectos; track $index) {
                <img class="foto" src="{{proyecto.img}}">
              }

            </div>

          </div>

          <figure>
            <img src="{{proyectos[0].img}}" alt=""></figure>
        </div>
      </div>
      <div></div>
    </div>
    <div class="parte-der">
      <a href="">Ver proyectos</a>
      <div class="info-fede">
        <div>
          <span>Nuevo | 0 Vendidos</span>
        </div>
        <div>
          <div class="d-flex" style="gap: 8px;">
            <div>
              <span>Mas vendido</span>
            </div>
            <div>
              <span> 5to en Portfolios</span>
            </div>
          </div>
          <div class="titulo">
            <h1 class="nombre">Federico Del Valle Software Developer</h1>
          </div>
        </div>
        <div class="precio-container">
          <div class="d-flex flex-column justify-content-start">
            <span style="font-size: 36px; font-weight: 300;">Gratis</span>
            <span style="font-size: 18px; font-weight: 400;">datos...</span>
            <span>datos...</span>

          </div>
          <div>
            <a href="">Ver informacion del producto</a>
          </div>
        </div>
        <div>
          <div class="titulo-informacion-prod">
            <span>Informacion del producto</span>
          </div>
            <div class="contenido-info-prod">
              <li>{{proyectos[0].titulo}}</li>
              <span> Descripcion: {{proyectos[0].descripcion}}</span>
              <li> Lenguajes: {{proyectos[0].lenguajes}}</li>
            </div>

        </div>



      </div>
    </div>



  </div>
  <div class="contenedor-habilidades">

    <div class="habilidades">
      <div class="d-flex justify-content-center" style="gap: 8px;">
        @for (habilidad of habilidades; track $index) {
          <img class="habilidad-container" src="{{habilidad.img}}" alt="">
        }
      </div>

    </div>

  </div>

</div>

