
.contenedor-interno{
  width: 80%;
  margin: auto;
}

.parte-der{
  padding: 16px;
}

.contenedor-info{
  padding: 16px;
  display: grid;
  grid-template-columns: 2fr 1.2fr;
}

.titulo{
  font-size: 16px;
  font-weight: 600;
  .nombre{
    font-size: 30px;
    font-weight: 600;
  }
}

.foto-container{
  border-radius: 8px;
  border: 1px red;

  .foto{
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 4px;
    display: block;
  }
}

.foto-principal{
  width: 350px;
  height: 350px;
  object-fit: cover;
  border-radius: 4px;
  display: block;
}

.contenedor-habilidades{
  width: 100%;
  background-color: blue;
  margin: auto;
}

.habilidad-container{
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 4px;
    display: block;
}

.descripcion-container{
  padding: 0 24px;
  border-top: 1px solid #0000001a;
  border-bottom: 1px solid #0000001a;
  gap: 8px;
}
.titulo-descripcion{
  font-size: 24px;
}
.descripcion{
  font-size: 20px;
  color: #999;
}

.contenedor-botones{
  max-width: 325px;
  min-width: 325px;
  margin: 24px 8px;
  padding: 25px 16px;
  border: 1px solid #0000001a;
  border-radius: 8px;
}

.btn-compra{
  padding: 0 24px;
  height: 48px;
  border-color: transparent;
  border-radius: 6px;
  background-color: #3483fa;
  font-weight: 600;
  color: #ffff;
  font-size: 16px;
}

.btn-carrito{
  padding: 0 24px;
  height: 48px;
  border-color: transparent;
  border-radius: 6px;
  background-color: #4189e626;
  font-weight: 600;
  color: #3483fa;
  font-size: 16px;
}
