<div class="d-flex flex-column contenedor-interno" style="gap: 16px;">
  <div class="barras">

  </div>
  <div class="d-flex flex-row justify-content-between contenedor-principal">

    <div class="parte-izq">
      <div class="d-flex flex-column" style="gap: 16px;" >
        <span style="color: #666; font-size: 14px;">Ingenieros Informaticos > Desarrolladores de Software</span>
        <div>
          <h1 class="m-0" style="font-size: 20px;">Federico Del Valle</h1>
          <span style="font-size: 14px; color: #333333;">1 resultado</span>
        </div>
        <div class="d-flex flex-column barra">
          <div class="d-flex flex-column filtros">
            <div class="cuadrado-filtro d-flex flex-row justify-content-between align-items-center">
              <span>Terminado</span>
              <label class="switch">
                <input type="checkbox" [checked]="soloTerminados"
                (change)="onToggleTerminados($event)" id="toggleBtn">
                <span class="slider"></span>
              </label>
            </div>
          </div>

          @if (categorias) {
            <div>
              <h3 style="font-size: 16px; font-weight: 600;">Categorias</h3>
              @for (categoria of categorias; track $index) {
                <h5 style="font-size: 14px; font-weight: 300; color:#666 ;">{{categoria.nombre}}
                  <span style="color: #999;">({{categoria.cantidad}})</span></h5>
              }
            </div>
          }

        </div>

      </div>

    </div>
    <div class="parte-der d-flex flex-column" style="gap: 8px">

      <div class="filtros-proyectos d-flex flex-row" style="justify-content: flex-end; gap: 4px;">
        <span>Ordenar por</span>
        <select [(ngModel)]="selectedSort"  class="custom-select" >
          <option value="alfabetico">Alfabetico</option>
          <option value="terminadosPrimero">Terminados primero</option>
          <option value="enProcesoPrimero">En proceso primero</option>
        </select>
        <div class="ui-search-sort-filter"></div>
      </div>

      <div class="d-flex flex-column contenedor-info">
        @for (proyecto of proyectosOrdenados; track trackById($index, proyecto)) {
          <a [routerLink]= "['/portfolio', proyecto.id]">
            <div class="d-flex flex-row contenedor-proy" style="gap: 24px;">
              <img class="foto" src="{{proyecto.imgPortada}}">
              <div class="derecha-proyecto" style="width: 50%;">
                <h3 class="titulo">{{proyecto.titulo}}</h3>
                <span class="autor">Por Federico Del Valle <img width="20px" src="assets/icons/verified-icon.svg" alt=""></span>
                <div class="d-flex flex-row contenedor-datos-proy">
                  <div class="der">
                    <div class="d-flex flex-column">
                      <span class="precio-prin">${{proyecto.precio}}</span>
                      @if (proyecto.cuotas) {
                        <span>{{proyecto.cuotas}}</span>
                      }
                      @if(proyecto.llega){
                        <div class="llega-container">
                          <span class="llega">Terminado</span>
                        </div>
                      }@else {
                        <div class="llega-container">
                          <span class="llega">En proceso</span>
                        </div>
                      }

                    </div>
                  </div>
                  @if (proyecto.estrellas) {
                    <div class="d-flex flex-row justify-content-start justify-content-between" style="gap: 4px;height: 16px; margin-top: 8px;">
                      @for (_ of proyecto.estrellas; track $index) {

                          <img src="assets/icons/star-icon.svg" alt="">
                      }
                    </div>


                  }


                </div>
              </div>
            </div>

          </a>
        }

      </div>
    </div>
  </div>
</div>