<div class="d-flex flex-column contenedor-interno" style="gap: 16px;">
  <div class="barras">

  </div>
  <div class="contenedor-principal">
    <div class="parte-der">

    </div>
    <div class="parte-izq">
      <div class="d-flex flex-column contenedor-info">
        @for (proyecto of proyectos; track $index) {
          <a routerLink="/portfolio">
            <div class="d-flex flex-row justify-content-between contenedor-proy">
              <img class="foto" src="{{proyecto.img}}">
              <div class="derecha-proyecto" style="width: 50%;">
                <h3>{{proyecto.titulo}}</h3>
                <span>Por Federico Del Valle</span>
                <div class="contenedor-datos-proy">
                  <div class="der">
                    <div>
                      <span>$157</span>
                      <span>$180</span>
                      <span>6 cuotas de $1500</span>
                    </div>
                  </div>
                  <div class="izq"></div>

                </div>
              </div>
            </div>

          </a>
        }

      </div>
    </div>
  </div>
</div>