.contenedor-interno{

padding: 0 100px;
}

.contenedor-proy{
  border-bottom: 1px solid rgb(121, 121, 121);
  padding: 8px;
  background-color: #fff;
}


.foto{
  width: 196px;
  height: 196px;
  object-fit: cover;
  border-radius: 4px;
  display: block;
}
.parte-der{
  width: 70%;
}
.parte-izq{
  max-width: 244px;
  min-width: 210px;
  height: 500px;
}


