/* You can add global styles to this file, and also import other style files */
body{
  background-color: rgba(0,0,0,.1);
}

select.custom-select {
  background-color: transparent;
  border: none;
  font-size: 14px;
  color: #111111;
  cursor: pointer;
  outline: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 4px;
}

select.custom-select option {
  background-color: white;
  color: #333;
}

select.custom-select:focus {
  outline: none;
  border: none;
}